---
---

<section class='relative min-h-[80vh] flex items-center justify-start py-[3vw] px-[11vw] md:px-[20vw]'
  style='background-image: url('/images/kleine-blumenpflanzen-mit-sonnenuntergang-und-bergen-1536x1024.jpg'); background-position: center center; background-repeat: no-repeat; background-size: cover;'
>
  <div class='absolute inset-0 bg-[#081400]/29'></div>
  <div class='relative z-10 max-w-2xl'>
    <p class='font-body italic text-[32px] md:text-[48px] text-[#F2EEEB] leading-tight'>
      '… denn jeder Mensch ist der Rede wert!'
    </p>
  </div>
</section>
