---
---

<section id='start' class='relative min-h-[80vh] flex flex-col justify-between overflow-hidden'
  style='background-image: url('/images/loewenzahn.webp'); background-position: -16vw 57%; background-repeat: no-repeat; background-size: 120% auto;'>
  <!-- Top row: burger + logo -->
  <div class='flex justify-between items-start pt-[5vh] px-[2vw]'>
    <div><!-- burger is fixed in Navigation --></div>
    <div class='flex items-start gap-4'>
      <img src='/images/redewert_logo_gruen-1-1024x1024.png' alt='Redewert Logo' class='h-[20vh] w-auto' />
      <img src='/images/redewert_logotype_weiss-768x295.png' alt='Redewert' class='h-[12vh] w-auto' />
    </div>
  </div>

  <!-- Bottom heading -->
  <div class='self-end pb-[20vh] pr-[2vw] max-w-[55%] md:max-w-[45%]'>
    <h1 class='font-heading text-[2.3vw] md:text-[4.7vw] font-normal text-[#1C4003] leading-tight'>
      Zeremonien und Reden<br />für Abschied und Neuanfang
    </h1>
    <p class='font-body italic text-[1.8vw] md:text-[3vw] text-[#BFAB99] mt-4'>Einfühlsam, würdevoll und persönlich</p>
  </div>
</section>
